@media all and (max-width:871px){
.header-right{
  display:none;
}
.mobile-menu{
  display:block;
}

}
/* モバイル向けのレイアウト*/
@media all and (max-width:670px){
.header-logo{
  font-size:15px;
}
.index-btn{
  width:48%;
padding:20px 0;
}
.salon-contents{
  font-size:20px;
}
.exprain-wrapper h2{
  font-size:25px}

.exprain-wrapper p{
  font-size:15px
}
.mobile-right{
  width:80px;
}
header{
  height:80px;
}
.header-logo{

line-height: 80px;
}
.mobile-menu{
  line-height: 80px;
}
.menu-lists{
  line-height: 80px;
}
.contact-form .left{
  padding-left:10px;
}
